
@import "../../styles/constants.scss";


.header_main{
    // background: linear-gradient($violet,#9978cdb4);
    height:22vh;
    width:100%;
    display:flex;
    justify-content:center;
    justify-items: center;
    padding:0 2rem;
    padding-top:7vh;
    align-items:flex-start;
    align-content:center;
    z-index:2000;

    @media #{$mobile} {
        height:15vh;
       
    }
}


.svg0{
    fill:$orange;
}

.image{
    width:8rem;
    height:8rem;
   

    -webkit-box-shadow: 10px 10px 14px -10px rgba(130,23,130,1);
    -moz-box-shadow: 10px 10px 14px -10px rgba(130,23,130,1);
    box-shadow: 10px 10px 14px -10px rgba(130,23,130,1);
    border-radius:200px;

    @media #{$mobile} {
        width:150px;
        height:150px;
        transform:translateY(10px);
    }
    
}

.image:hover{
    cursor:pointer;
}
.header_links{
    font-family:$font1;
    padding-top:4vh;
    font-weight: 700;
    font-size:1.5rem;
    margin:0 2rem ;

    color:#6C6C6C;
    @media #{$mobile} {
        display:none;

       
    }
}
.header_links:hover{

    color:$orange;
}