
@import "../../styles/constants.scss";


.header_main{
    // background: linear-gradient($violet,#9978cdb4);
    height:22vh;
    width:100%;
    display:flex;
    justify-content:space-between;
    justify-items: center;
    padding:0 10vw;
    justify-content:center;
    align-items:center;
    align-content:center;
    z-index:2000;
    padding-top:1rem;

    @media #{$mobile} {
        height:25vh;
       
    }
}


.svg0{
    fill:$orange;
}

.image{
    width:11rem;
    height:11rem;
    margin-top:2rem;
    -webkit-box-shadow: 10px 10px 14px -10px rgba(130,23,130,1);
    -moz-box-shadow: 10px 10px 14px -10px rgba(130,23,130,1);
    box-shadow: 10px 10px 14px -10px rgba(130,23,130,1);
    border-radius:200px;

    @media #{$mobile} {
        width:100px;
        height:100px;
        margin:40%;
 
    }
    
}

.image:hover{
    cursor:pointer;
}
.header_links{
    font-family:$font1;
    // padding-top:7vh;
    font-weight: 700;
    font-size:1.2rem;
    margin:0 2rem ;
    display:none;

    color:#6C6C6C;
    @media #{$mobile} {
        display:none;

       
    }
}
.header_links:hover{

    color:$orange;
}