@import "../../styles/constants.scss";

.icon {
    position: fixed;
    right: 1.5rem;
    top: 1.5rem;
    width: 50px;
    height: 50px;
    color: rgb(252, 252, 252);
    background-color: $violet;
    border-radius: 200px;
    padding: 0.5rem;
    border: 4px solid whitesmoke;
    transition: 0.3s;
    z-index: 90;
}

.icon:hover,
.icon:active {
    background-color: $orange;

}

.icon2 {
    position: fixed;
    right: 1.5rem;
    top: 1.5rem;
    width: 50px;
    height: 50px;
    color: rgb(252, 252, 252);
    background-color: $orange;
    border-radius: 200px;
    padding: 0.5rem;
    -webkit-box-shadow: 3px 4px 5px 0px rgb(41, 41, 41);
    -moz-box-shadow: 3px 4px 5px 0px rgb(56, 56, 56);
    box-shadow: 3px 4px 5px 0px rgb(67, 67, 67);
    border: 4px solid whitesmoke;
    transition: 0.3s;
    z-index: 1000;
    transition: transform 0.3s;
}

.icon:hover,
.icon:active {
    background-color: $orange;
}

.cart_container {
    background-color: rgb(238, 238, 238);
    position: fixed;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    right: 0;
    top: 0;
    height: 100vh;
    width: 80%;
    max-width: 380px;
    z-index: 1200;
    padding: 2rem;
    padding-top: 3rem;
    transform: translateX(0);
    transition-duration: 0.3s;
    padding-top:1rem;
    overflow-y: hidden;
  

    .close {
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: 2rem;
        color: $violet;
        font-family: $font1;
        border-radius: 200px;
        width: 3rem;
        height: 3rem;
    }

    .title {
        font-family: $font1;
        font-size: 2rem;
    }

    .item{
        display:flex;
        justify-content: space-between;
    }
    .eliminate{
        width: 1.5rem;
        height: 1.5rem;
        color: rgb(221, 54, 54);
    }
    .placeholder{
        font-family: $font1;
        font-size: 1rem;
        color:grey;
        text-align: right;
    }
}


.cart_container_close{
    background-color: transparent;
    height:100vh;
    margin:0;
    position:fixed;
    top:0;
    right:0;
    width:80%;
    max-width:400px;
    z-index:20000;
    transform:translateX(+100%);
    transition: transform 0.3s;
}

.input_text{
    background-color: rgba(255, 255, 255, 0.61);
    opacity:0.8;
    display:flex;
    border:0;
    border-bottom:1px solid rgba(128, 128, 128, 0.678);
    padding: 0.3rem 1.4rem;
    font-size: 1rem;
    font-style: italic;  
    margin-bottom:0.3rem;  
}

.checkout_bottom{
    display:flex;
    flex-direction: column;
    align-content: center;
    align-items:center;
    width:100%;
    padding:0;
   
   
}

.cart_list{
    display:flex;
    flex-direction: column;
    align-content: center;
    align-items:center;
    justify-content: flex-start;
    width:100%;  
}