

@import "../../styles/constants.scss";

.container_main{
    width:100%;
    background: linear-gradient(rgba(238, 223, 190, 0.418), #ffffff00);
    height:80vh;
    padding:0 10%;
    transform:translateY(-120px);
    
    @media #{$mobile} {
        padding:0%;
        height:70vh;
        transform:translateY(-20px);
    }
}

.svg{
    transform:translateY(-120px);
    @media #{$mobile} {
        padding:0%;
        transform:translateY(-20px);
    }
}


.container{
    width:100%;
    //background-color: rgba(238, 223, 190, 0.418);
    //background: linear-gradient(rgba(238, 223, 190, 0.418), #ffffff00);

   padding:0 5% ;
   height:100%;

   @media #{$mobile} {
    padding:0%;
    height:100%;
}

}



