@import "../../styles/constants.scss";

.toolbar {
    position:fixed;
    padding: 1rem;
    background-color: transparent;
    top:0;
    left:0;
    height:56px;
    z-index:1000;
           
	// @media #{$desktop} {
	//     display:none;
	// }
}


    



