@import "../../styles/constants.scss";

.container {
    margin-left: 5%;
    margin-right: 5%;
   
    * {
        box-sizing: border-box;
    }

    .imgContainer {
        width: 100%;
        padding-top: 100%;
        position: relative;
        img{
                width: 100%;
                height: auto;

                height: 100%;
                object-fit: contain;
                object-position: center center;
                position: absolute;
                top: 0; left: 0; bottom: 0; right: 0;
                
        }
    }

              //  object-fit: contain;
                //border-radius:8px;   
            //     margin: auto;
        
            //    position: absolute;
            //    top: 0; left: 0; bottom: 0; right: 0;


          


    // .imgContainer:before {
    //     content: '';
    //     display: block;
    //     padding-top: 100%; /*para una relación 1:1*/
    // }

    

    .card {
        background-color: initial !important;
    }

    .cardTitle {
        color: rgb(236, 207, 43);
    }

    .cardLink {
        color: rgb(255, 134, 154);
    }

    h5 {
        font-family: $font1;
        font-size: 26px;
        font-weight: 600;
        letter-spacing: -0.015px;

    }

    h6 {
        font-family: $font1;
        font-size: 20px;
        font-weight: 600;
        letter-spacing: -0.015px;
        color: $grey;
    }
    
    p {
        font-family: $font1;
        font-size: 20px;
        font-weight: 400;
        letter-spacing: -0.015px;
        color: $grey;
    }
    

}


/* .container{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:flex-start;
    @media #{$mobile} {
        flex-direction:column;
    }


    .image{
        -webkit-box-shadow: 10px 11px 6px -6px rgba(209,209,209,1);
-moz-box-shadow: 10px 11px 6px -6px rgba(209,209,209,1);
box-shadow: 10px 11px 6px -6px rgba(209,209,209,1);
        width:400px;
        background-color: white;;
        height:400px;
        border-radius:20px; 
        .src{
            object-fit: scale-down;
            width:400px;
            height:400px;    
            border-radius:20px;           
        }
    }



    @media #{$mobile} {
    .image{
        
        .src{
            object-fit: scale-down;
            width:400px;
            max-width:90%;
            height:400px;
            padding:5%;
            max-height:50vh;
            border-radius:200px;           
        }
    }
}


    
.detail{
    padding:0 2rem;   
    display:flex;
    max-width:40%;
    flex-direction:column;
     @media #{$mobile} {
       padding: 0rem;
      align-content:flex-start;
        align-items:flex-start;
        max-width:100%;
    }

}
    
}

 */