@import "../../styles/constants.scss";


.ant-carousel .slick-slide {
    text-align: center;
    height: 100%;
    line-height: 160px;
    background: #0038a0;
    overflow: hidden;

  }
  
  .ant-carousel .slick-slide h3 {
    color: rgb(189, 0, 0);

   
  }

  .carrousel_image{
      background-color: yellow;
      height:100vh;
   
  }

  .carrousel_image_src{
      object-fit:cover;
      width:100vw;
      height:100%;
      @media #{$mobile} {
        object-fit:contain;
        
       
    }
      

      
  }

  .carrousel_custom{
    // transform: translateY(-430px);
    position:relative;
    z-index:-10000;
    @media #{$mobile} {
        // transform: translateY(-100px);

       
    }
  }