
@import "../../styles/constants.scss";

.footerMain{
    padding-left: 20% !important;
    padding-right: 20% !important;
    background-color: $violet;

    .logoFooter {
        width: 174px;
    }
}





.footer_main{
    background-color: $violet;
    height:50vh;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:flex-end;
    @media #{$mobile} {
        height:30vh;
    }
}

.svg0{
    fill:$violet;
}

