
@import "../../styles/constants.scss";



.footerMain{
    padding-left: 10% !important;
    padding-right: 10% !important;
    padding-bottom: 80px;
    background-color: $violet;
    @media #{$mobile} {
        padding-bottom: 45px;
       
    }

    .logoFooter {
        width: 174px;
        @media #{$mobile} {
            width: 120px;
           
        }

    }
    .iconGrandeFooter {
        width: 50px;
        margin: 33px 12px 0px 12px;
        
        @media #{$mobile} {
            margin-top: 17px;
            width: 33px;
        }
    }
    .iconChicoFooter {
        width: 30px;
        margin-right: 15px;
        
        @media #{$mobile} {
            width: 22px;
        }
    }
    .tituloFooter {
        font-family: $font1;
        font-weight: 600;
        font-size: 16px;
        color: $white;
        margin-bottom: 32px;

        @media #{$mobile} {
        font-size: 14px;
        }

    }
    li {
        font-family: $font1;
        font-weight: 400;
        font-size: 16px;
        color: $white;
        margin-bottom: 21px !important;
        
        @media #{$mobile} {
            font-size: 14px;
            }
    }
    ul, li{
        margin:0;
        padding: 0;
        text-indent: 0;
        list-style: none;
    }
}



.svg0{
    fill:$violet;
}

