
@import "../../styles/constants.scss";

.product_list{
    padding:10%;
    padding-top:0;
    height:100vh;
    background-image: linear-gradient(rgba(255, 255, 255, 0),  rgb(255, 255, 255) 25%);
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items:flex-start;
    align-content:flex-start;
    flex-wrap:wrap;
    padding-top:290px;
    transform: translateY(-300px);

     @media #{$mobile} {
         padding:2%;
         transform: translateY(0);
     }
}

/* For demo */
.ant-carousel .slick-slide {
    text-align: center;
    height: 160px;
    line-height: 160px;
    background: #364d79;
    overflow: hidden;
  }
  
  .ant-carousel .slick-slide h3 {
    color: #fff;
  }

  .carrousel_image{
      height:50vh;
  }