@import "../../styles/constants.scss";
@import '~csshake';

.product_container{
    width: 20%;
    height: 320px;
    margin: 8px;
    padding:0;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    justify-items: flex-start;
    align-items:center;
    align-content:center;
    cursor:pointer;

     @media #{$mobile} {
         width: 40%;
         height:250px;
     }


    .image_container {
        height: 70%;
        padding: 0;
        width: 100%;
        
        position:relative;
        // object-fit:contain;
        text-align: center;
        background-color: white;
        border-radius: 15px 15px 0 0;
        -webkit-box-shadow: 3px 4px 5px 0px rgba(214,206,214,1);
        -moz-box-shadow: 3px 4px 5px 0px rgba(214,206,214,1);
        box-shadow: 3px 4px 5px 0px rgba(214,206,214,1);
        transition: transform .5s;
        overflow: hidden;
        :hover{
            transform: scale(1.05);
        }

        .image{

            // max-height:100%;
            // max-width:100%;
            padding: 0;
            margin:0;
            // object-fit: cover;
            border-radius: 15px 15px 0 0;
            text-align:center;
           transition: transform .9s;
        }

        .special_offer{
            position: absolute;
            top: 0.3rem;
            right: 0.3rem;
            // border:2px solid white;
            border-radius: 200px;
            width:3.3rem;
            height: 3.3rem;
            font-family:$font1;
            font-weight: bold;
            background-color: #a2e8b9;
            display:flex;
            align-content:center;
            align-items:center;
            justify-items: center;
            justify-content: center;
            z-index: 10;
            // -webkit-box-shadow: 3px 4px 5px 0px rgba(214,206,214,1);
            // -moz-box-shadow: 3px 4px 5px 0px rgba(214,206,214,1);
            // box-shadow: 3px 4px 5px 0px rgba(214,206,214,1);
            @media #{$mobile} {
                width: 2.5rem;
                height:2.5rem;
            }
       
      

            @keyframes shake {
                0% { transform: skewX(-15deg); }
                5% { transform: skewX(15deg); }
                10% { transform: skewX(-15deg); }
                15% { transform: skewX(15deg); }
                20% { transform: skewX(0deg); }
                100% { transform: skewX(0deg); }  
              }
        }

        .sold_out{
            position: absolute;
            display:flex;
            flex-direction:column;
            align-content:center;
            align-items:center;
            height: 100%;
            padding: 0;
            width: 100%;
            font-size:0.8rem;
            font-family: $font1;
            z-index: 10;
            color:white;
            background-color:rgba(0, 0, 0, 0.37);
            border-radius: 15px 15px 0 0;    
            justify-content:center;
            justify-items: center;

            h3{
                font-family: $font1;
                font-size:2rem;
                font-weight:bold;
                color:white;
            }
        }
    }

    .data_container{
        z-index:1;
        height:30%;
        width:100%;
        background-color:white;
        display:flex;
        flex-direction:column;
        align-content:flex-start;
        justify-content:center;
        text-align:center;
        -webkit-box-shadow: 3px 4px 5px 0px rgba(214,206,214,1);
        -moz-box-shadow: 3px 4px 5px 0px rgba(214,206,214,1);
        box-shadow: 3px 4px 5px 0px rgba(214,206,214,1);
        border-radius: 0 0 15px 15px;

        .title{
            background-color:white;
            font-size:1.2rem;
             color: $orange;
             font-weight: 800;
             font: $font1;
            padding:0;
            margin:0;
            margin-bottom:0.5rem;
        }

        .price{
            color: $grey;
            font-weight: 600;
            font-size:0.8rem;
            font: $font1;
            margin:0;padding:0;margin-bottom:0.3rem;
        }

        .id{
            color:$grey;
            font-size:0.6rem;
            font: $font1;
            border-radius: 0 0 15px 15px;
            margin:0;padding:0;
        }
    }
}

.loader{
    display:flex;
    flex-direction: column;
    justify-content:center;
    height: 100%;
    justify-items: center;
}


.add_to_cart_icon{
    width:35px;
    color:grey;
    height:35px;  
    background-color: rgba(245, 245, 245, 0.541);
    z-index:200;
    padding:0.2rem;
    border-radius:200px;
}
.add_to_cart_icon1{
  bottom:0;
  display:flex;
  width:100%;
  position:absolute;
bottom:0.5rem;
z-index:200;
  justify-items: center;
  justify-content: center;
 


}


.bubble {
    position: absolute;
    right: 0rem;
    top: 0rem;
    opacity: 0;
    width: 45px;
    height: 45px;
    z-index:400;
    background-color: $orange;
    -moz-border-radius: 0 0 0 1000px;
    -webkit-border-radius: 0 0 0 1000px;
    border-radius: 0 0 0 1000px;
    -moz-animation-name: ripple;
    -webkit-animation-name: ripple;
    animation-name: ripple;
    -moz-animation-delay: 0s;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -moz-animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -moz-animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

  
  @keyframes ripple {
    from {opacity: 1;}
    30%  { opacity:0.6}
    50%  { opacity: 0.4;}    
    70%  { opacity: 0.1;}
    to   { width: 300px;
           height: 300px;
           opacity: 0;
         }
  }
  
  @keyframes ripple-2 {
      0% {
        opacity: 1;
      }
      50% {
        opacity: 0;
      }
    100% {
      width: 200px;
      height: 100px;
      border-width: 1px;
      top: 100px;
      left: 200px;
    }
  }
  