@import "../../styles/constants.scss";

.container{
    margin-top: 125px;
    width: 64%;
    margin-left: auto;
    margin-right: auto;
    
    section + section {
        margin-top: 100px;
        
    }

    img {
        display: block;
        width: 160px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: .25rem;
    }

    img + p {
        text-align: center;
        font-family: $font1;
        font-size: 16px;
        line-height: 16px;
        font-weight: 600;
        letter-spacing: 0.1em;
        color: $grey;
        margin-bottom: 80px;
    }

    h1 {
        margin-bottom: 1rem;

        text-align: left;
        font-family: $font1;
        font-size: 20px;
        line-height: 24px;
        font-weight: 600;
        letter-spacing: 0.1em;
        color: black;
        margin-bottom: 1.5rem;
    }

    p, li {
        text-align: left;
        font-family: $font1;
        font-size: 16px;
        line-height: 1.5em;
        font-weight: 400;
        letter-spacing: 0.1em;
        color: black;
        margin-bottom: 1.5rem;
    }
}

