@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Open Sans', 'Lato', sans-serif;
    color: #414141;
    background-image: url("../public/Fondo web+color.png") !important;
    background-size: cover !important;
    /* background-color: #e4f1f1; */
    width:100%;
    height:100%;
    background-color: transparent !important;

  } 
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
}

